models/*
checkpoints/*
checkpoints-iisg/*
checkpoints-ecodices/*
data/*
filters/*
filters2/*
.idea/*
output/*
output.92percent/*
results/*
images/*
__pycache__/*
*.png
results-saliency/*
examples/*
result.csv
result.sql
dense/*
venv/*
